{% extends '::base.html.twig' %}

{% block body %}

    <div class="jumbotron">

        <div class="row">
            <div class="col-md-6">
                <h1>CI Status</h1>

                <p>
                    The build dashboard of all your repositories on Travis CI.
                </p>

                <p>
                    <a id="login" href="{{ path('hwi_oauth_service_redirect', {'service': 'github'}) }}" class="btn btn-primary btn-lg"
                       data-loading-text="<i class='fa fa-spinner fa-spin'></i> Connecting to GitHub through the Internet tubes…">
                        <i class="fa fa-github"></i>
                        Connect with GitHub
                    </a>
                </p>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <img src="{{ asset('img/screenshot.png') }}">
                </div>
            </div>
        </div>

    </div>

    {% if error is defined and error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <h4 class="text-warning">
        A bit of a warning
    </h4>

    <p>
        In order to show your private repositories we need to get the appropriate authorization from GitHub.
        We are asking for write permission when you "Connect with GitHub" because GitHub's API does not provide a <strong>read-only</strong> access yet.
    </p>

    <p>
        This application will never write anything to your repositories. For added security we will only
        store your GitHub token for the duration of your session.
    </p>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#login').click(function () {
            $(this).button('loading');
        });
    </script>
{% endblock %}
