{% extends '::base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <h1>CI Status</h1>

        <p>
            The build dashboard of all your repositories on Travis CI.
        </p>

        <p>
            <a id="login" href="{{ path('hwi_oauth_service_redirect', {'service': 'github'}) }}" class="btn btn-primary btn-lg"
               data-loading-text="<i class='fa fa-spinner fa-spin'></i> Connecting to GitHub through the Internet tubes…">
                <i class="fa fa-github"></i>
                Connect with GitHub
            </a>
        </p>
    </div>

    {% if error is defined and error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <h4 class="text-warning">
        A bit of a warning
    </h4>

    <p>
        In order to show your private repositories, we need to get the appropriate authorization from GitHub.
        Unfortunately, GitHub's API does not provide a <strong>read-only</strong> access, so we ask for
        write permission when you "Connect with GitHub".
    </p>

    <p>
        This application will never write anything to your repositories. Furthermore, it will not
        store your GitHub token anywhere except in your current session for security reasons.
        The only downside is that you have to click "Connect with GitHub" on each of your visit.
    </p>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#login').click(function () {
            $(this).button('loading');
        });
    </script>
{% endblock %}
