parameters:
    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    github.app.client_id:     abc
    github.app.client_secret: abc

    piwik.disabled: true
    piwik.site_id:  1
    piwik.host:     example.com

    http_protocol: https

    excluded_repositories: []
