body {
    padding-top: 75px;
    font-size: 1.6em;
}

.dashboard {
    font-size: 1.2em;
}
table.dashboard>tbody>tr>td {
    padding: 12px;
    vertical-align: middle;
}
table.dashboard td.danger a {
    color: #e37272;
}
table.dashboard td.warning a {
    color: #f4a167;
}
.dashboard td.author {
    font-size: 0.7em;
    color: #d4d3c2;
    text-align: right;
}

.repo-account {
    margin-left: 10px;
    color: #959488;
}
.repo-separator {
    margin: 0 3px;
    color: #d4d3c2;
}

/* Theme bugfix -_- */
.btn-lg, .btn-group-lg>.btn {
    font-size: 18px !important;
}
